*,
*::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roborto', sans-serif;
    /* font-size:10px; */
    color:rgb(7, 66, 133)
    /* color: white; */
}

img{
    width: 100%;
}
body{

    margin: 0px;
    padding: 0px;
}

/* navigation */

#main-navbar {
  background: #444;
}

#main-navbar ul {
  margin: 0;
  padding: 0;
}

#main-navbar li {
  display: inline-block;
  padding: 10px 20px;
}

#main-navbar li a {
  text-decoration: none;
  color: #EDA51A;
}

#main-navbar li a:hover {
  padding-bottom: 3px;
  color: #222;
}


/* Body Header */

#body-header{
    height: 95vh;
    background-image: url('./image/navi.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

/* Name and Caption*/

#name-social-container{
    max-width: 70%;
    margin: auto;
}

/*Section Classes*/

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}



.section-heading {
    width: auto;
    /* padding: 20px 10px 10px; */
    font-weight: 400;
    margin:auto;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}


/*About Section*/

#about{
    margin:auto;
    padding: 50px 100px;
    position: relative;
    /* background-color: #afc1df5d; */
    /* background-image: url('./image/flayer.svg'); */
        background-size: cover;
    background-position: center;
    /* margin-bottom: -150px; */
}
#about a{
    color:#EDA51A;
}


#my-image{
    margin: auto;
    margin-top: -7vh;
}

#my-image img{

    height: 30%;
    width: 30%;
    border-radius: 50%;

}

#lightbox{
    height: 0;
    width: 0;
    position:fixed;
    top:0;
    left: 0;
    overflow: hidden;
}
#lightbox:target{
    height:auto;
    width:30%;
    top:30%;
    left:30%;
    background-color: rgba(73, 70, 70, 0.61);
}
#about-para {
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
}
#about p::first-letter{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

/*Skills Section*/


#experience{
     background-image: url('./image/herolayer.svg');
    background-size: cover;
    background-position: center;
}

.skills-display,#skills h3 {
    width: 100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.skill{
    padding: 10px 30px;
}

.skill-progress {
    width: 3rem;
    height: 0.4rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
}

.skill-progress  div {
    border-radius: 20px 0px 0px 20px;
}


/* Common Margin Classes */
.mb75px {
    /* margin-bottom: 75px; */
}

/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}

.mb-blue {
    background-color: #2857a4;
}


/*Percentage Classes */

.eighty-five-percent {
    width: 85%;
    height: inherit;
}

/*Timeline*/

.timeline {
    position: relative;
    width: 75%;
    /* border: 2px solid black; */
    margin: auto;

}

.timeline-box {
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    /* border: 2px solid black; */
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -13%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;

}


.timeline-box:nth-child(2n)::after {
    content: '';
    position: absolute;
    top: 30%;
    left: -13%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}

.timeline-divider {
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 10%;
    left: 50%;
}

.timeline-traveller {
    position: sticky;
    top: 30%;
    transform: rotate(90deg);
    z-index: 2;
}


/* cards */
#education{
    /* background-image: url('./image/projlayer.svg'); */
    /* background-image: url('./image/hevwave.svg'); */
    background-color:#D7D6FF ;
        background-size: cover;
    background-position: center;
}
.project {
  width:80%;
  height:40vh;
  margin: auto;
  background: rgba(255, 255, 255, 0.26);
  display: flex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  overflow: hidden;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  margin-bottom: 20px;;
}
.project__thumbnail {
  flex: 1;
}
.project__thumbnail_swap {
  order: 2;
}
@media screen and (max-width: 1024px) {
  .project__thumbnail_swap {
    order: unset;
  }
  .project {
      height:auto;
  }
}
.project__description {
  flex: 1;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
.project__title {
  font-size: 1.6rem;
  color: #BD4B4B;
}
@media screen and (max-width: 1024px) {
  .project {
    flex-direction: column;
  }
}
.project:hover, .project:focus {
  display: flex;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  transform: scale(1.01);
}
#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
    padding: 0px 10px;
    margin: auto;
}


.inner a{
    background-color: #BD4B4B;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    margin-top:20px;
    border: none;
    border-radius:10px;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.project img {
    min-height: 100%
}


.about{
    background-image: url('./image/layeredblog.svg');
}

.about__cards {
  padding-top: 3rem;
  gap: 2rem;
  width:70%;
    display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin:auto;
}
@media screen and (max-width: 1024px) {
  .about__cards {
    flex-direction: column;
  }
}
.about__card {
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
  flex: 1;
}
.about__card-img {
  width: 100%;
}
.about__card-text {
  padding: 1em;
}



.hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}


.hero-heading {
    text-align: center;
    padding: 1rem;
    color: grey;
}



.footer {
  background-color: #303030;
/* background-image: url('./image/footer.svg'); */
    background-size: cover;
    background-position: center;
  color: #EEEEEE;
  font-size: 0.9rem;
  margin-bottom: -10px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.footer .container {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .footer .container {
    flex-direction: column;
    gap: 1em;
    text-align: center;
  }
}
.footer__social-item {
  padding: 0.5em 0;
}
.footer__social-item a {
  transition: text-shadow 200ms ease-in-out;
}
.footer__social-item a:hover {
  text-shadow: 0 0 32px white;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.footer-section__heading {
  color: #BD4B4B;
}
@media screen and (max-width: 1024px) {
  .footer-section {
    align-items: center;
  }
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}